<h2 class="citation-title"><%= html_escape(referent.title) %></h2>
<div class="short-divider"></div>
<div class="citation-container">
  <% if referent.author.present? %>
    <p class="citation-metadata">By <%= html_escape(referent.author) %></p>
  <% end %>
  <% if referent.date.present? %>
    <p class="citation-metadata">
      <span class="citation-label">Publication Date:</span>
      <%= html_escape(referent.date) %></p>
  <% end %>
  <% if referent.container_title.present? %>
    <p class="citation-metadata">
      <span class="citation-label"><%= html_escape(referent.container_type) %>:</span>
      <%= html_escape(referent.container_title) %></p>
  <% end %>
  <% if referent.volume.present? %>
    <p class="citation-metadata">
      <span class="citation-label">Volume:</span>
      <%= html_escape(referent.volume) %></p>
  <% end %>
  <% if referent.issue.present? %>
    <p class="citation-metadata">
      <span class="citation-label">Issue:</span>
      <%= html_escape(referent.issue) %></p>
  <% end %>
  <% if referent.page.present? %>
    <p class="citation-metadata">
      <span class="citation-label">Page:</span>
      <%= html_escape(referent.page) %></p>
  <% elsif referent.pages.present? %>
    <p class="citation-metadata">
      <span class="citation-label">Page:</span>
      <%= html_escape(referent.pages) %></p>
  <% elsif referent.spage.present? && referent.epage.present?%>
    <p class="citation-metadata">
      <span class="citation-label">Page:</span>
      <%= html_escape(referent.spage) %>-<%= html_escape(referent.epage) %></p>
  <% elsif referent.spage.present? %>
    <p class="citation-metadata">
      <span class="citation-label">Page:</span>
      <%= html_escape(referent.spage) %></p>
  <% elsif referent.epage.present?%>
    <p class="citation-metadata">
      <span class="citation-label">Page:</span>
      <%= html_escape(referent.epage) %></p>
  <% end %>
  <% if referent.issn.present? %>
    <p class="citation-metadata">
      <span class="citation-label">ISSN:</span>
      <%= html_escape(referent.issn) %></p>
  <% end %>
  <% if referent.isbn.present? %>
    <p class="citation-metadata">
      <span class="citation-label">ISBN:</span>
      <%= html_escape(referent.isbn) %></p>
  <% end %>
  <% if referent.type.present? %>
    <p class="citation-metadata">
      <span class="citation-label">Resource:</span>
      <%= html_escape(referent.type) %></p>
  <% end %>
  <% if referent.pmid.present? %>
    <p class="citation-metadata">
      <span class="citation-label">PMID:</span>
      <%= html_escape(referent.pmid) %></p>
  <% end %>
  <% if referent.doi.present? %>
    <p class="citation-metadata">
      <span class="citation-label">DOI:</span>
      <%= html_escape(referent.doi) %></p>
  <% end %>
</div>
