      <li>
        <div class="fulltext-wrapper">
          <div class="fulltext-links">
            <% label = fulltext_link.display_text + "<small>(opens in new tab)</small>" %>
            <%= link_to(href: "/link_router/index/#{fulltext_link.id}", target: "_blank", rel: "noopener noreferrer", class: "button fulltext-link") { label } %>
          </div>
          <div class="fulltext-source-and-date">
            <div>
              <span class="fulltext-source"><%= fulltext_link.service_data[:package_name] %></span>
              <% if fulltext_link.service_data[:authentication_note].present? %>
                <div>
                  <%= fulltext_link.service_data[:authentication_note] %>
                </div>
              <% end %>
              <% if fulltext_link.service_data[:public_note].present? %>
                <div>
                  <%= fulltext_link.service_data[:public_note] %>
                </div>
              <% end %>
            </div>

            <span class="fulltext-date">
              <% if fulltext_link.service_data[:availability].present? %>
                <%= fulltext_link.service_data[:availability] %>
              <% end %>
            </span>
          </div>

        </div>
      </li>
