<%# local implementers may over-ride this partial for custom local header.
    This partial is called by default umlaut layout.  %>

<div id="footer" class="footer">
  <div class="container">
    <p>
      <% if umlaut_config.footer_credit.present? %>
        <%= umlaut_config.footer_credit %> |
      <% end %>

      <%= t('umlaut.misc.powered_by_umlaut') %>
      <%= link_to('Umlaut', 'https://github.com/team-umlaut-umlaut') %>.

      <!-- links to aid in debugging openurls gone wrong when in production -->
      <%= link_to_test_resolve %>
      <%= link_to_direct_sfx %>
    </p>

    <div class="permalink-container permalink-footer">
      <label for="permalink">Permalink:</label>
      <input class="permalink" id="permalink" type="text" readonly value="<%= render_umlaut_permalink_url %>" />
    </div>
  </div>
</div>
