<% if disambiguation_bundle.any? %>
  <h3>Multiple Matches</h3>
  <p>We have multiple matches of your citation. Please check the following results and choose the correct citation.</p>
  <ol>
  <% disambiguation_bundle.each do |bundle| %>
  <li>
    <p>
      <a href="<%= bundle.url %>">  <%= bundle.service_data[:metadata]["title"] %></a><br /><%= bundle.service_data[:metadata]["creator"] %>, <%= bundle.service_data[:metadata]["source"] %>, <%= bundle.service_data[:metadata]["date"] %>
    </p>
  </li>
  <% end %>
  </ol>

<% end %>

<!--

Author
Journal Volume Issue Page Date
ISSN
Format

-->
