<div class="<%= section_css_classes(@user_request, "fulltext_bundle").join(" ") %> umlaut-section-highlighted">

  <% if fulltext_bundle.empty? %>
  <p>Not available. <a href="">Try our other options.</a></p>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>Link</th>
        <th>Resource</th>
        <th>Available</th>
      </tr>
    </thead>
    <tbody>
      <% fulltext_bundle.each do |bundle| %>
      <tr>
        <td><a href="<%= bundle.service_data[:urls].journal %>">Fulltext Online</a></td>
        <td><a href="<%= bundle.service_data[:urls].source %>"><%= bundle.service_data[:headings][:source] %></a></td>
        <td><%= bundle.notes %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <div class="alert alert-info">
    <h3>[debug] Fulltext Bundle</h3>
    <dl>
    <% fulltext_bundle.each do |bundle| %>
        <dt>bundle.notes</dt>
        <dd><%= bundle.notes %></dd>
        <dt>bundle.service_data[:headings][:article]</dt>
        <dd><%= bundle.service_data[:headings][:article] %></dd>
        <dt>bundle.service_data[:headings][:journal]</dt>
        <dd><%= bundle.service_data[:headings][:journal] %></dd>
        <dt>bundle.service_data[:headings][:source]</dt>
        <dd><%= bundle.service_data[:headings][:source] %></dd>
        <dt>bundle.service_data[:urls].article</dt>
        <dd><%= bundle.service_data[:urls].article %></dd>
        <dt>bundle.service_data[:urls].journal</dt>
        <dd><%= bundle.service_data[:urls].journal %></dd>
        <dt>bundle.service_data[:urls].source</dt>
        <dd><%= bundle.service_data[:urls].source %></dd>
    <% end.empty? and begin %>
      <p>Not available.</p>
    <% end %>
    </dl>
  </div>

</div>
