<div class="<%= section_css_classes(@user_request, "fulltext_bundle").join(" ") %> umlaut-section-highlighted">

  <% if fulltext_bundle.any? %>
    <ul class="fulltext-sources" id="fulltext-sources">
      <% fulltext_bundle.each do |bundle| %>
      <li>
        <div class="fulltext-wrapper">
          <div class="fulltext-links">

            <% if bundle.service_data[:urls].direct_link.present? %>
              <a href="<%= bundle.service_data[:urls].direct_link %>" class="button fulltext-read-article">Get Thing</a>
            <% elsif bundle.service_data[:urls].article.present? %>
              <a href="<%= bundle.service_data[:urls].article %>" class="button fulltext-read-article"><% if @user_request.referent.type_of_thing.titlecase == 'Article' %>
                Read Article
              <% elsif @user_request.referent.type_of_thing.titlecase == 'Book' %>
                Read Book
              <% elsif @user_request.referent.type_of_thing.titlecase == 'Book Chapter' %>
                Read Chapter
              <% else %>
                Get Item
              <% end %>
              </a>
            <% else %>
              <% if bundle.service_data[:urls].journal.present? %>
                <a href="<%= bundle.service_data[:urls].journal %>" class="button fulltext-go-to-journal">
                  <% if @user_request.referent.type_of_thing.titlecase == 'Article' %>
                    Go to Journal
                  <% elsif @user_request.referent.type_of_thing.titlecase == 'Book' %>
                    Read Book
                  <% elsif @user_request.referent.type_of_thing.titlecase == 'Book Chapter' %>
                    Read Chapter
                  <% else %>
                    Go to Source
                  <% end %>
                </a>
              <% end %>
            <% end %>
          </div>
          <div class="fulltext-source-and-date">
            <a class="fulltext-source" href="<%= bundle.service_data[:urls].source %>"><%= bundle.service_data[:headings][:database] %></a>
            <span class="fulltext-date">
              <% if bundle.service_data[:available][:start].present? %>
                <%= bundle.service_data[:available][:start] %> -

                <% if bundle.service_data[:available][:end].present? %>
                  <%= bundle.service_data[:available][:end] %>
                <% else %>
                  Present
                <% end %>
              <% end %>
            </span>
          </div>
        </div>
      </li>
      <% end %>
    </ul>

    <% if fulltext_bundle.length > 1 %>
      <a href="" id="show-more-sources" class="show-more hide">Show <%= fulltext_bundle.length - 1 %> more option<% if fulltext_bundle.length > 2 %>s<% end %></a>
    <% end %>

    <!-- Not Available Online -->
    <% html_sections(:found_a_problem).each do |link| %>
      <%= content_tag "div", :id => link[:div_id] do %>
        <%= render_section(link) %>
      <% end %>
    <% end %>

  <% else %>
    <% html_sections(:not_available_online_links_2).each do |link| %>
      <%= content_tag "div", :id => link[:div_id] do %>
        <%= render_section(link) %>
      <% end %>
    <% end %>
  <% end %>
</div>
