<div class="<%= section_css_classes(@user_request, "fulltext_bundle").join(" ") %> umlaut-section-highlighted">

  <% if fulltext_bundle.any? %>
    <p class="hidden">
      Below are our best options for accessing this item. If you don't get to what you're looking for, come back and look for more options.
    </p>
    <ul class="fulltext-sources" id="fulltext-sources">
      <% default_label = t("umlaut.call_to_action.default") %>

      <% fulltext_bundle.each_with_index do |bundle, index| %>
      <li>
        <div class="fulltext-wrapper">
          <div class="fulltext-links">
            <% label = t("umlaut.call_to_action.#{bundle.service_data[:format]}.#{bundle.service_data[:genre]}.#{bundle.service_data[:best]}", default: default_label) %>
            <%= link_to(label, {controller: 'link_router', id: bundle.service_data[:best_id]}, {class: 'button fulltext-link'}) %>
          </div>
          <div class="fulltext-source-and-date">
            <%= link_to(bundle.service_data[:headings][:database], {controller: 'link_router', id: bundle.service_data[:source_id]}, {class: 'fulltext-source'}) %>
            <span class="fulltext-date">
              <% if bundle.service_data[:available][:start].present? %>
                <%= bundle.service_data[:available][:start] %> -
                <% if bundle.service_data[:available][:end].present? %>
                  <%= bundle.service_data[:available][:end] %>
                <% else %>
                  Present
                <% end %>
              <% end %>
            </span>
          </div>
        </div>
      </li>
      <% end %>
    </ul>

    <% if fulltext_bundle.length > 1 %>
      <a href="" id="show-more-sources" class="show-more hide">Show <%= fulltext_bundle.length - 1 %> more option<% if fulltext_bundle.length > 2 %>s<% end %></a>
    <% end %>

  <% else %>
    <!-- inline -->
    <% html_sections(:not_available_online_links_2).each do |link| %>
      <%= content_tag "div", :id => link[:div_id] do %>
        <%= render_section(link) %>
      <% end %>
    <% end %>
  <% end %>

  <!-- Found a problem? -->
  <% html_sections(:found_a_problem).each do |link| %>
    <%= content_tag "div", :id => link[:div_id] do %>
      <%= render_section(link) %>
    <% end %>
  <% end %>
</div>
