<div class="<%= section_css_classes(@user_request, "fulltext_bundle").join(" ") %> umlaut-section-highlighted">

  <% if fulltext_bundle.empty? %>
  <p>Not available.</p>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>Link</th>
        <th>Resource</th>
        <th>Available</th>
      </tr>
    </thead>
    <tbody>
      <% fulltext_bundle.each do |bundle| %>
      <tr>
        <td><a href="<%= bundle.service_data[:urls].journal %>">Fulltext Online</a></td>
        <td><a href="<%= bundle.service_data[:urls].source %>"><%= bundle.service_data[:headings][:database] %></a></td>
        <td>
          <% if bundle.service_data[:available][:start].present? %>
            <%= bundle.service_data[:available][:start] %> -
          <% end %>

          <% if bundle.service_data[:available][:end].present? %>
            <%= bundle.service_data[:available][:end] %>
          <% else %>
            Present
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
