<div class="<%= section_css_classes(@user_request, "fulltext_bundle").join(" ") %> umlaut-section-highlighted">

  <% if fulltext.length > 0 %>
    <p class="hidden">
      Below are our best options for accessing this item. If you don't get to what you're looking for, come back and look for more options.
    </p>
    <ul class="fulltext-sources" id="fulltext-sources">
      <% default_label = t("umlaut.call_to_action.default") %>

      <% fulltext.each_with_index do |fulltext_link, index| %>
      <li>
        <div class="fulltext-wrapper">
          <div class="fulltext-links">
            <% label = t("umlaut.call_to_action.#{fulltext_link.service_data[:format]}.#{fulltext_link.service_data[:genre]}.#{fulltext_link.service_data[:best]}", default: default_label) %>
            <%= link_to(default_label, {controller: 'link_router', id: fulltext_link.id}, {class: 'button fulltext-link'}) %>
          </div>
          <div class="fulltext-source-and-date">
            <div>
              <span class="fulltext-source"><%= fulltext_link.service_data[:package_name] %></span>
              <% if fulltext_link.service_data[:authentication_note].present? %>
                <div>
                  <%= fulltext_link.service_data[:authentication_note].html_safe %>
                </div>
              <% end %>
              <% if fulltext_link.service_data[:public_note].present? %>
                <div>
                  <%= fulltext_link.service_data[:public_note].html_safe %>
                </div>
              <% end %>
            </div>

            <span class="fulltext-date">
              <% if fulltext_link.service_data[:availability].present? %>
                <%= fulltext_link.service_data[:availability] %>
              <% end %>
            </span>
          </div>

        </div>
      </li>
      <% end %>
    </ul>
  <% else %>
    <!-- inline -->
    <% html_sections(:not_available_online_links_2).each do |link| %>
      <%= content_tag "div", :id => link[:div_id] do %>
        <%= render_section(link) %>
      <% end %>
    <% end %>
  <% end %>

  <!-- Found a problem? -->
  <% html_sections(:found_a_problem).each do |link| %>
    <%= content_tag "div", :id => link[:div_id] do %>
      <%= render_section(link) %>
    <% end %>
  <% end %>
</div>
