<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
    <%= javascript_include_tag 'application' %>
    <title><%= umlaut_title_text %></title>
    <%= render_umlaut_head_content %>
  </head>
  <body class="no-js">
    <%= render :partial => "umlaut/header" %>

    <div class="container">
      <h1 class="site-heading">MGet It</h1>
      <p class="site-subheading">
        Getting you to electronic resources
      </p>
    </div>

    <div class="container">
      <%= render :partial => "umlaut/alerts" %>
      <%= yield %>
    </div>

    <%= render :partial => "umlaut/footer" %>
  </body>
